# Python
venv/
__pycache__/
*.pyc
.env

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# ML models
*.pkl
!backend/models/*.pkl
ai_model/*.pkl
ai_model/traffic_model.pkl

# Data & Spark outputs
Data/
big_data/
backend/data/
spark/data/
